@use "sass:math";
@import "./base.settings";
@import "./base.fonts";
@import "./base.palette";
@import "./base.theme";
@import "./base.mixins";
@import "./base.graphics";

// ******************************************************************************************************
//                                                 GENERAL                       
//                                                 -------
// ******************************************************************************************************

// Set generic html properties
html{
    background-size: cover;
    background-color: black;//$color3;
}

// Set default header font weights
h1, h2, h3, h4, h5, h6{
    font-weight: $font-weight-headers;   
    margin: 5% auto;
    color: white; //gray;  
}

// Set header sizes -> based on variables at base.settings
h1{font-size: $base-font-size;}
h2{font-size: $der-1-font-size;}
h3{font-size: $der-2-font-size;}

// ******************************************************************************************************
//                                                   BODY                        
//                                                   ----
// ******************************************************************************************************

body{
    // Set a small responsive margin
    margin: auto;
    padding: auto;
    
    // Set line heights
    line-height: $base-line-height;

    // Set default font weights
    font-weight: $font-weight-regular;

    background-color: lightblue; //TBD
    overflow-x: hidden;  
}

// ******************************************************************************************************
//                                                NAVIGATION             
//                                                ----------
// ******************************************************************************************************

// Encapsulation: For background
.navBarCapsule{
    border: dotted orange 1px;
}

// navBarGrid contains the wrapperTitle (name & profession, special icons, vertical menu icon) 
// & the menu in horizotal arrangement
.navBarGrid{
    border: solid green 1px;
    position: relative;
    margin: 0px auto;

    @media only screen and (min-width: $responsiveWidth){
        width: $responsiveWidth;
    }
}

// wrapperTitle: contains name & profession, special icons, vertical menu icon
.wrapperTitle{
    display: flex;
    list-style: outside none none;
    margin-top: 0px;
    padding-top: 0px;
    background-color: brown;  // For DEV
    border: solid yellow 1px; // For DEV
    position: relative;
}

// --------------- Setup of name and profession ---------------
#NameAndProfession{
    text-align: left;
    position: relative;
 }

// myName: id with my Name
 #myName{
    font-size: $base-font-size;
    position: relative;

    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0em;
    padding-right: 0em;

    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;

    background-color: blue;
    color: black;
}

// myProfession: id with my Profession(s)
 #myProfession{
    font-size: $der-1-font-size;
    position: relative;

    position: relative;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
    padding-right: 0em;

    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    background-color: greenyellow;
    color: black;
 }
// ------------------------------------------------------------


// ---------------- Setup of GitHub & LinkedIn ----------------
.specialIconsGroup{
    margin-left: auto; // Centers my name in the page (together with the "margin-right" of the dropdown).
    border: solid white 1px;
    display:block;

    margin-top: auto;
    margin-bottom: auto;

    height: $base-font-size+$der-1-font-size;
    display: block;

    @media only screen and (max-width: $responsiveWidth){
        display: none;
        position: absolute;
    }
}

// The actual icons: size calculation for width > responsive width
.specialIcons{
    display: block;
    //padding: auto;
    // 1. h= total height of specialIconsGroup-div
    // 2. L= height of each special icon
    // 3. b= height of padding on top & bottom of each special icon
    // Sizings are based on the formula: h = 2*L+4*b, L<=h/2, factor 2.4 chosen arbitrarily
    height: ($base-font-size+$der-1-font-size)/2.4;
    padding-top: ($base-font-size+$der-1-font-size)/24;
    padding-bottom: ($base-font-size+$der-1-font-size)/24;
}
 // ------------------------------------------------------------

// dropdownDIVSG: Group with the button and the menu divs
.dropdownDIVSG{
    //margin-left: auto;
    //border: solid white 1px;

    @media only screen and (max-width: $responsiveWidth){
        display: flex;
        position: relative;
        margin-left: auto; // Centers my name in the page (together with the "margin-right" of the dropdown).

    }
}

/* TO BE DELETED
// For width>responsive width, a div with the torus image appears
#torusImageDIV{
    display: flex;
    margin-right: auto;
    @media only screen and (max-width: $responsiveWidth){
        display: none;
    }
}

// The temporary torus image
#torusImage{
    position: relative;
    border-style: solid;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
TO BE DELETED*/

// ----- The button with the divs which represent the menu -----
#myBtn{
    background-color: black;
    border-color: black;
    border-style: solid;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;

    @media only screen and (min-width: $responsiveWidth){
        display: none;
    }
}

// menuDIV1-3: Menu Divs ids
// Currently only js code
// #menuDIV1{}
// #menuDIV2{}
// #menuDIV3{}

// All divs of the button only
#myBtn div{
    border-color: grey;
    border-style: solid;
}
// -------------------------------------------------------------


// --------------- Setup of links to other pages ---------------
// The elements of the all navigation lists (horiz. and vert.)
.listElementG{    
    text-align: center;
    border-color: blue;
    color: gray;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-style:  solid;
    margin: 0.3%;
    background-color: black; 
    text-decoration: none;
    }
   
// Hover functionality for elements of any list (H & V)
.listElementG:hover{
    // Lightly different than the grey of the letters
    background-color: rgb(50, 48, 48);
    border-style: dashed;
    color: white;
} 

// Horizontal navigation list only
.navList{
    display: flex;
    list-style: outside none none;
    //margin-left: 8%;
    //margin-right: 8%;
    border: solid brown 2px;


    @media only screen and (max-width: $responsiveWidth){
        display: none;
        position: absolute;
    }
}

// Elements of the horizontal list only
.listElementH{   
    width: 10%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: auto;
    margin-right: auto;

    // js
    border-width: 2px;
    border-radius: 20px;
    font-size: 15px;
}


// Vertical navigation list only: The display options for the dropdown menu
.dropdownContent {
    display: none;
    position: absolute;
  }
  
// Elements of the vertical list only
.listElementV{

    //js
    position: relative;
    z-index: 1;
    text-align: center;
    border-width: 2px ;
    border-radius: 20px;
    font-size: 15px;
    width: 100px;
}
// -------------------------------------------------------------


// ******************************************************************************************************
//                                                  GROUPS             
//                                                  ------
// ******************************************************************************************************

// --------------- General for all groups and their texts ---------------

.Group{
    position: relative;
    text-align: center;
    border: solid white 1px;
    margin: 0px auto;
    padding: 0px auto;

    @media only screen and (min-width: $responsiveWidth){
        width: $responsiveWidth;
    }
}

// The background image : TBD ??
#groupImage{
    opacity: 0.5;
}

.groupText{
    //position: absolute;
    //overflow: scroll;
    //height: 100%;
    //left: 5%;
    //right: 5%;
}

// ----------------------------------------------------------------------

// Group 1 ("To  be filled"): Encapsulation for background
#GroupCapsuleHome1{
    background-color: lightcoral;
    border: dotted orange 1px;
    margin-top: 0px;
    padding-top: 0px;
}
 
// Group 2 ("To  be filled"): Encapsulation for background
#GroupCapsuleHome2{
    background-color: lightcyan;
    border: dotted orange 1px;
    margin-top: 0px;
    padding-top: 0px;
}

// ******************************************************************************************************
//                                                  FOOTER         
//                                                  ------
// ******************************************************************************************************

.footer{
    bottom:0;
    z-index: 2; // To ensure that it is in front of everything (not strictly necessary)
    background-color: lightgrey;
    text-align: center;
}

.footerParagraph{
   font-style: italic;
   font-size: 10px;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-right: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
   margin-right: 0px;
   line-height: normal;
}