@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Quicksand", sans-serif;
}

/* SCSS RGB */
/* SCSS Gradient */
/* SCSS RGB */
/* SCSS Gradient */
html {
  background-color: rgb(178, 139, 132);
}

a {
  color: rgb(255, 200, 87);
}
a:hover {
  color: white;
}

.box {
  background: rgb(84, 94, 117);
  padding: 24px;
}

html {
  background-size: cover;
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 5% auto;
  color: white;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24.72135955px;
}

h3 {
  font-size: 15.27864045px;
}

body {
  margin: auto;
  padding: auto;
  line-height: 24px;
  font-weight: 400;
  background-color: lightblue;
  overflow-x: hidden;
}

.navBarCapsule {
  border: dotted orange 1px;
}

.navBarGrid {
  border: solid green 1px;
  position: relative;
  margin: 0px auto;
}
@media only screen and (min-width: 1000px) {
  .navBarGrid {
    width: 1000px;
  }
}

.wrapperTitle {
  display: flex;
  list-style: outside none none;
  margin-top: 0px;
  padding-top: 0px;
  background-color: brown;
  border: solid yellow 1px;
  position: relative;
}

#NameAndProfession {
  text-align: left;
  position: relative;
}

#myName {
  font-size: 40px;
  position: relative;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 0em;
  padding-right: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  background-color: blue;
  color: black;
}

#myProfession {
  font-size: 24.72135955px;
  position: relative;
  position: relative;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0em;
  padding-right: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  background-color: greenyellow;
  color: black;
}

.specialIconsGroup {
  margin-left: auto;
  border: solid white 1px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  height: 64.72135955px;
  display: block;
}
@media only screen and (max-width: 1000px) {
  .specialIconsGroup {
    display: none;
    position: absolute;
  }
}

.specialIcons {
  display: block;
  height: 26.9672331458px;
  padding-top: 2.6967233146px;
  padding-bottom: 2.6967233146px;
}

@media only screen and (max-width: 1000px) {
  .dropdownDIVSG {
    display: flex;
    position: relative;
    margin-left: auto;
  }
}

/* TO BE DELETED
// For width>responsive width, a div with the torus image appears
#torusImageDIV{
    display: flex;
    margin-right: auto;
    @media only screen and (max-width: $responsiveWidth){
        display: none;
    }
}

// The temporary torus image
#torusImage{
    position: relative;
    border-style: solid;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
TO BE DELETED*/
#myBtn {
  background-color: black;
  border-color: black;
  border-style: solid;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
@media only screen and (min-width: 1000px) {
  #myBtn {
    display: none;
  }
}

#myBtn div {
  border-color: grey;
  border-style: solid;
}

.listElementG {
  text-align: center;
  border-color: blue;
  color: gray;
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border-style: solid;
  margin: 0.3%;
  background-color: black;
  text-decoration: none;
}

.listElementG:hover {
  background-color: rgb(50, 48, 48);
  border-style: dashed;
  color: white;
}

.navList {
  display: flex;
  list-style: outside none none;
  border: solid brown 2px;
}
@media only screen and (max-width: 1000px) {
  .navList {
    display: none;
    position: absolute;
  }
}

.listElementH {
  width: 10%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-left: auto;
  margin-right: auto;
  border-width: 2px;
  border-radius: 20px;
  font-size: 15px;
}

.dropdownContent {
  display: none;
  position: absolute;
}

.listElementV {
  position: relative;
  z-index: 1;
  text-align: center;
  border-width: 2px;
  border-radius: 20px;
  font-size: 15px;
  width: 100px;
}

.Group {
  position: relative;
  text-align: center;
  border: solid white 1px;
  margin: 0px auto;
  padding: 0px auto;
}
@media only screen and (min-width: 1000px) {
  .Group {
    width: 1000px;
  }
}

#groupImage {
  opacity: 0.5;
}

#GroupCapsuleHome1 {
  background-color: lightcoral;
  border: dotted orange 1px;
  margin-top: 0px;
  padding-top: 0px;
}

#GroupCapsuleHome2 {
  background-color: lightcyan;
  border: dotted orange 1px;
  margin-top: 0px;
  padding-top: 0px;
}

.footer {
  bottom: 0;
  z-index: 2;
  background-color: lightgrey;
  text-align: center;
}

.footerParagraph {
  font-style: italic;
  font-size: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  line-height: normal;
}

blockquote {
  border-left: 2px solid rgb(255, 200, 87);
  padding-left: 24px;
}

/*# sourceMappingURL=style.css.map */
